.hero {
    text-align: center;
}

section {
    margin: 30px;
}

footer {
    text-align: center;
    padding: 30px;
}

li {
    list-style: none;
}

li i {
    margin-right: 10px;
}

footer a {
    color: #795548;
}

.store-badges {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 0;
}

.ios-badge {
  padding-top: 6px;
}