.hero {
    text-align: center;
}

section {
    margin: 30px;
}

footer {
    text-align: center;
    padding: 30px;
}

li {
    list-style: none;
}

li i {
    margin-right: 10px;
}

footer a {
    color: #795548;
}

.store-badges {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.ios-badge {
  width: 160px;
  height: 77px;
  padding: 12px 0;
}

@media screen and (min-width: 600px) {
  .features {
    margin: 80px;
  }

  .features .row {
    margin: 60px 20px;
  }

  .features img {
    margin: auto 20px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 600px) {
  .features .row {
    margin: 60px auto;
  }

  .features img {
    margin: 0 auto;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.1);
  }
}
